<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <input v-model="num1">
        </div>
        <div>
            <input v-model="num2">
        </div>
        <div>
            <button @click="fnCalculation">계산</button>
        </div>
        <hr>
        <div v-if="sum != ''">계산결과 : {{sum}}</div>
    </div>
    <!-- 두개의 input 박스에 있는 값들의 합을 텍스트로 출력 -->
    <!-- 최초에는 안보이다가 버튼을 누르면 출력-->
    <!--계산결과 : 'ooo'형식으로 출력 -->
</body>
</html>
<script>
    // Vue.js 애플리케이션 생성
    const app = Vue.createApp({
        data() {
            // Vue 인스턴스가 사용할 데이터(변수)를 정의하는 부분
            return {
                // 변수 - (key : value)
                num1 : "",
                num2 : "",
                sum : ""
            };
        },
        methods: {
            // Vue 인스턴스가 사용할 함수(메소드)를 정의하는 부분
            // 함수(메소드) - (key : function())
            fnCalculation : function () {
                let self = this;
                self.sum = parseInt(self.num1) + parseInt(self.num2);
              
                 
            }
        },
        mounted() {
            // Vue 인스턴스가 DOM에 마운트(부착)된 후 처음 실행되는 부분
            // 처음 시작할 때 실행되는 부분
        }
    });
    // Vue 애플리케이션을 HTML의 id="app" 요소에 마운트
    app.mount('#app');
</script>