<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue_Insert</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h2>학생추가</h2>
        <div>
            학번 : 
            <template v-if="checkFlg">
                <input v-model="stuNo" disabled>
            </template>
            <template v-else>
                <input v-model="stuNo">
            </template>
            <button @click="fnDuplicateCheck">중복체크</button>
        </div>
        <div>이름 : <input v-model="name"></div>
        <div>학과 : <input v-model="dept"></div>
        <div>
            <button @click="fnAdd">추가</button>
            <button @click="fnBack">되돌아가기</button>
        </div>
    </div>
</body>
</html>
<script>
    // Vue.js 애플리케이션 생성
    const app = Vue.createApp({
        data() {
            // Vue 인스턴스가 사용할 데이터(변수)를 정의하는 부분
            return {
                // 변수 - (key : value)
                stuNo : "",
                name : "",
                dept : "",
                checkFlg : false
            };
        },
        methods: {
            // Vue 인스턴스가 사용할 함수(메소드)를 정의하는 부분
            // 함수(메소드) - (key : function())
            fnAdd: function () {
                let self = this;
                // jQuery의 Ajax 함수를 사용하여 서버와 통신
                if(!self.checkFlg) {
                    alert("중복체크 확인 후 추가해주세요.");
                    return;
                }
                $.ajax({
                    url: "http://localhost:3009/insert",
                    dataType: "json",
                    type: "GET",
                    data: {stuNo : self.stuNo, name : self.name, dept : self.dept},
                    success: function (data) {
                        // Ajax 통신 성공 시 실행되는 콜백 함수
                        alert("추가되었습니다.");
                        self.fnBack();
                    }
                });
                           
            },
        fnBack : function(){
            location.href="6_Vue_CRUD.html";
        },
        fnDuplicateCheck : function(){
            let self = this;
            if(self.stuNo.length != 8){
                    alert("학번은 8글자 입니다.")
                    return;
                }
            $.ajax({
                url: "http://localhost:3009/search",
                dataType: "json",
                type: "GET",
                data: {stuNo : self.stuNo},
                success: function (data) {
                // Ajax 통신 성공 시 실행되는 콜백 함수
                    console.log(data);
                    if(data.length == 1) {
                        alert("이미 사용중인 학번 입니다.");
                        return;
                    } else {
                        alert("사용가능한 학번 입니다.");
                        self.checkFlg = true;
                    }
                }
            
            });
        }
        }, // methods
        mounted() {
            // Vue 인스턴스가 DOM에 마운트(부착)된 후 처음 실행되는 부분
            // 처음 시작할 때 실행되는 부분
        }
    });
    // Vue 애플리케이션을 HTML의 id="app" 요소에 마운트
    app.mount('#app');
</script>